*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url("../data/netflix_bg-01.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.text-box1{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: left;
}
.text-box1 h1{
  font-size: 80px;
  letter-spacing: 3px;
}
.text-box1 h2{
  font-size: 40px;
}
.text-box1 span{
  color: #D62A28;
  letter-spacing: 1px;
}
.text-box2{
  width: 20%;
  color: #fff;
  position: absolute;
  bottom: 77px;
  left: 80%;
  text-align: left;
}
.text-box2 h3{
  font-size: small;
  font-weight: 600;
  letter-spacing: 3px;
}
.line1{
border-left: 5px solid #D62A28;
height: 100px;
position: absolute;
left: 90%;
margin-left: -3px;
bottom: 0;
}
.objective{
  min-height: 85vh;
  width: 100%;
  background-color: #d62a28;
  background-position: center;
}
.line2{
  border-left: 5px solid #262626;
  height: 100px;
  position: absolute;
  left: 90%;
  margin-left: -3px;
  top: 100vh;
}
.text-box3{
  width: 65%;
  color: #fff;
  position: absolute;
  top: 150vh;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box3 h1{
  font-size: 60px;
  letter-spacing: 3px;
}
.text-box3 h2{
  font-size: 18px;
  letter-spacing: 2px;
  color: #262626;
}
.text-box3 p{
  margin: 5px 0 50px;
  font-size: 20px;
}

.part1{
  margin: 15vh 170px 20px;
}

.text-box4{
  text-align: center;
}

.text-box4 h1{
  font-size: 50px;
  color: #262626;
}

.text-box4 h2{
  font-size: 18px;
  letter-spacing: 2px;
  color: #d62a28;
}

.part2{
  margin: 20vh 170px 20px;
}
.text-box5{
  text-align: center;
}

.text-box5 h1{
  font-size: 50px;
  color: #262626;
}

.text-box5 h2{
  font-size: 18px;
  letter-spacing: 2px;
  color: #d62a28;
}

.part3{
  margin: 20vh 170px 20px;
}
.text-box6{
  text-align: center;
}

.text-box6 h1{
  font-size: 50px;
  color: #262626;
}

.text-box6 h2{
  font-size: 18px;
  letter-spacing: 2px;
  color: #d62a28;
}


.part4{
  margin: 20vh 170px 20px;
  overflow: hidden;
}
.text-box7{
  text-align: center;
}

.text-box7 h1{
  font-size: 50px;
  color: #262626;
}

.text-box7 h2{
  font-size: 18px;
  letter-spacing: 2px;
  color: #d62a28;
}

.graph4 {
  float: left;
  padding: 10px;
}
